<div class="container-fluid p-3">
    <div class="row">

        <!-- ULTIMO LLAMADO -->
        <div class="col-md-8">

            <div class="card text-white bg-success mb-4">
                <div class="card-header">ULTIMO LLAMADO</div>
                <div class="rounded m-2 text-center" style="background-color: rgb(51, 141, 51)">
                    <div class="ticket-actual-turno">
                        <span *ngIf="last_ten[0]">Turno {{ last_ten[0].id_ticket }}</span>
                        <span *ngIf="!last_ten[0]" class="ticket-espera">En espera...</span>
                    </div>

                    <div class="ticket-actual-escritorio">
                        <span *ngIf="last_ten[0]">Escritorio {{ last_ten[0].id_desk }}</span>
                    </div>
                </div>
            </div>

            <!-- VIDEO PUBLICIDAD -->
            <div>
                    <iframe width="100%" height="480px" [src]="'-FV0KKDdysw?rel=0&autoplay=1&mute=0&fullscreen=1&loop=1&playlist=-FV0KKDdysw' | domseguro: 'https://www.youtube.com/embed/'" frameborder="0" allowtransparency="true" allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </div>

        <div class="col-md-4">





                <!-- class="card bg-warning d-flex justify-content-sm-start justify-content-end justify-content-sm-end align-items-center -->
            <div class="card text-white bg-primary">
                <div class="card-header">HISTORIAL DE LLAMADOS</div>    

                <div class="card-text d-flex" >
                        <!-- <div class="card-header p-1">{{n}}</div> -->
                        
                            <div class="d-flex justify-content-md-start ml-2 ticket-secundario-turno text-white" style="width: 50%">
                                Turno
                            </div>
    
                            <div class="d-flex justify-content-md-end mr-2 ticket-secundario-escritorio  text-white" style="width: 50%">
                                Escritorio
                            </div>
    
                </div>
                
                <div class="rounded m-1 d-flex"  style="background-color: rgb(54, 77, 194)" *ngFor="let n of [1,2,3,4,5,6,7,8,9,10];">
                    <!-- <div class="card-header p-1">{{n}}</div> -->
                    
                    <div class="d-flex justify-content-md-start ml-5 ticket-secundario-turno text-white" style="width: 50%">
                            <span *ngIf="last_ten[n]">{{ last_ten[n].id_ticket }}</span>
                            <span *ngIf="!last_ten[n]">-</span>
                    </div>

                    <div class="d-flex justify-content-md-end mr-5 ticket-secundario-escritorio  text-white" style="width: 50%">
                            <span *ngIf="last_ten[n]">{{ last_ten[n].id_desk }}</span>
                            <span *ngIf="!last_ten[n]">-</span>
                    </div>

                </div>

            </div>

    </div>
</div>